<div class="header-bar">
  <div class="container">
    <h1>
      sock
      <small>never lose your shit again</small>
    </h1>

    <div class="app-login">
      <input class="form-control" type="text" placeholder="E-mail">
      <input class="form-control" type="password" placeholder="Password">
      <button type="button" class="btn btn-default">Login</button>
      <div>
        <a href="#">Forgot your password?</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  {{outlet}}
</div>
